.blurb {
 
}

.blurb-content {
    max-width: 720px;
    margin: 8rem 0rem 0rem 0rem; /* Centers the element horizontally */
    padding: 30px;
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks child elements vertically */
    justify-content: center; /* Centers content vertically within .blurb */
}

.blurb-content h1 {
    font-size: 3rem;
}

.blurb-content p {
    text-align: justify; /* Justifies text so it's spread across the container */
    text-align-last: left; /* Ensures the last line is left-aligned */
}

.blurb-content img {
    display: flex;
    width: 100%;
}