.navigation {
    overflow: hidden;
}

.navigation .grid {
    display: flex;
    
}

.navigation-pad {
    padding: 10px 20px;
    text-align: center;
}

.navigation .grid div {
    flex: 1;
}

.navigation a {
    color: var(--color-background);
    font-weight: regular;
    text-transform: uppercase;
    
}


.navigation a:hover {
    color: var(--color-primary);
}