.navigation {
    overflow: hidden;
}

.navigation .grid {
    display: flex;
    
}

.navigation .grid div {
    flex: 1;
}

.navigation-pad {
    padding: 10px 20px;
    text-align: center;
}

.navigation-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes up full width */
    height: 100%; /* Ensures centering vertically */
  }

.navigation-home:hover {
    color: var(--color-accent); 
    cursor: pointer;
}

.navigation a {
    color: var(--color-background);
    font-weight: regular;
    text-transform: uppercase;
    
}


.navigation a:hover {
    color: var(--color-primary);
}

